@import url(variabile.css);
@import url(header.css);
@import url(footer.css);
@import url(firstpage.css);
@import url(contact.css);
@import url(magazin.css);
@import url(desprenoi.css);

ul{
    list-style: none;
    padding:0;
}

a{
    text-decoration: none;
    color: inherit;
}
p{
    margin:0;
}