:root {
    /* -------------------------------------------------------------------------- */
    /*                                  Culori                                 */
    /* -------------------------------------------------------------------------- */
    --black-green: #40513B;
    --white-green: #9DC08B;
    --green: #609966;
    --gazon-green: #539165;
    --alb-murdar: #EDE9D5;
    --alb: #fff;
    --gradient-subtitle: linear-gradient(178deg, rgba(96, 153, 102, 3), rgba(96, 153, 102, 0.9) 50%, rgba(255, 255, 255, 0.7) 100%, rgba(0, 0, 0, 0) 100%);
    --gradient: linear-gradient(178deg, rgba(96, 153, 102, 2), rgba(96, 153, 102, 0.6) 50%, rgba(255, 255, 255, 0.4) 100%, rgba(0, 0, 0, 0) 100%);
    /* -------------------------------------------------------------------------- */
    /*                                    Font                                    */
    /* -------------------------------------------------------------------------- */

    --font-family-title: 'Comfortaa', cursive;
    --font-family-text: 'Barlow', sans-serif;
    --font-large: 60px;
    --font-mediums:30px;
    --font-medium: 25px;
    --font-small: 15px;
    --font-smallest: 8px;



    /* -------------------------------------------------------------------------- */
    /*                                   Border                                   */
    /* -------------------------------------------------------------------------- */

    --border-base: rgba(96, 153, 102, 0.9);
}